/* @theme arendt */

/*
  ============================================
    Created by Paulo Cunha
    version: 1.0
    last update: 24.jul.2023
    last update: 24.jul.2023
  ============================================       
*/

/* Importing COLOR SCHEMA */

@import "default";
@import "schema";
@import "structure";

/* Importing Font */
/* Font Credit: htts://https://www.cdnfonts.com/ */
/* @import url('https://fonts.cdnfonts.com/css/fira-sans-condensed?styles=19730'); */
/* @import url('https://fonts.cdnfonts.com/css/fira-sans?styles=20119'); */
/* @import url('https://fonts.cdnfonts.com/css/fira-sans?styles=20121'); */
@import url('https://fonts.cdnfonts.com/css/fira-sans');

@font-face {
  font-family: HeaderFont;
  src: url("https://fonts.cdnfonts.com/css/fira-sans");
}

@font-face {
  font-family: BodyFont;
  src: url("https://fonts.cdnfonts.com/css/fira-sans?styles=20119");
}

/* -------------------- ROOT -------------------------------*/

:root {

  font-family: BodyFont, sans-serif;
  font-family: 'Fira Sans', sans-serif;
  font-weight: initial;

  /* --default-background-color: #d6d2c6;  */
  --default-background-color: #e4d5a6;

  --default-font-color: rgb(68, 52, 16);
  --default-font-color: rgb(88, 18, 22);
  --default-font-color: rgb(68, 19, 16);

  --default-list-font-color: #e0ac00;
  --cool-list-color: rgb(255, 31, 1);

  --bold-color: rgb(0, 85, 255);

  --default-header-font-color: rgb(22, 22, 22);
  --subtitle-color: rgb(12, 55, 75);
  --letter-spacing: -0.6px !important;
  --default-header-bold-font-color: rgb(228, 5, 5);
  --default-strong-font-color: rgb(201, 59, 34);
  --italic-background-color: orangered;
  --default-border-color: 2px solid rgb(211, 34, 11);



  background-color: var(--default-background-color);
  color: var(--default-font-color);

}

:root p {

  font-size: 36px;
  font-family: "BodyFont", sans-serif !important;
  letter-spacing: -0.5px;

  color: var(--default-font-color);
}

:root ul,
ol {

  font-size: 30px;
  font-family: "BodyFont", sans-serif !important;
  letter-spacing: -0.2px;
  font-weight: 600 !important;

}

:root h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: BodyFont, serif; */
  color: var(--default-header-font-color);
}

:root h1 {
  border-bottom: var(--default-border-color);
}

/* -------------------- PRE -------------------------------*/

:root pre {
  color: rgb(3, 3, 3);
  font-weight: 800;
  background-color: #ffffffa1;
}

/* -------------------- STRONG -----------------------------*/

:root h1 strong {
  color: var(--default-header-bold-font-color);
}

section strong {
  color: var(--default-strong-font-color);

  padding-left: 2px;
  padding-right: 2px;
  font-weight: 600;
}

/* -------------------- TABLE -----------------------------*/

section table {
  color: #3b4252;
}

section table th {
  background-color: #4d768a;
}

/* -------------------- CITE -----------------------------*/

section.cite {


  background-color: #cedbf3;
  background-color: #d8dee9;
  --strong-color: #4d75a5;
}

section.cite p {

  font-family: Cambria, Georgia, Times, 'Times New Roman', serif !important;

}

/* -------------------- TITLEPAGE --------------------------*/

section.titlepage {
  color: var(--default-font-color);
  background-color: var(--default-background-color);
  --subtitle-font-weight: 300;

}

section.titlepage .title {
  border-bottom: var(--default-border-color);
  color: var(--default-font-color);
}

section.titlepage h1 {
  border-bottom: var(--default-border-color) !important;
  color: var(--default-font-color);
}

section.titlepage .author,
section.titlepage .date,
section.titlepage .organization {
  text-align: left;
  color: var(--default-font-color) !important;
}

section.titlepage h1,
h2,
h3,
h4,
h5 {
  color: var(--default-font-color) !important;
}

/* -------------------- TRANSITION -------------------------------*/

section.transition em {
  /* color: rgb(10, 100, 235); */
  background-color: rgba(255, 5, 5, 0.295);
}

section.transition strong {
  color: rgb(255, 5, 5);
}

section.transition {
  background-color: rgb(255, 145, 0);
  background-color: orange;
}

/* -------------------- TRANSITION2 -------------------------------*/

section.transition2 strong {
  color: rgb(10, 100, 235);
  color: rgb(161, 240, 3);
}

/* -------------------- BIBLIO -------------------------------*/

section.biblio p {
  font-family: "FrutigerNextW04-Regular", sans-serif;
}

section.biblio {
  /* font-family: BodyFont;  */

  --text-color: rgb(253, 252, 252);
  --biblio-background-color: rgb(22, 28, 43);
  --border-color: darkorange;
  --bold-color: orange;
}

/* -------------------- COLUMNS -------------------------------*/

section.columns ul,
ol,
li {
  color: var(--default-font-color);
  font-family: "Fira Sans", sans-serif !important;
  font-weight: 100;
}

section.columns li {}