/* @theme color3 */

@import "structure";


/* -------------------- ROOT ----------------------------------*/
:root {
    
    --bold-color                : orangered;
    --border-color              : #e99211;
    --h1-color                  : blue;

    --italic-color              : black;
    --italic-background-color   : rgba(255, 210, 8, 0.713);
    --background-color          : #fdf6e3;
    --list-item-color           : rgb(50, 56, 56);
    --after-color               : rgb(255, 39, 1);
    --table-header-color        : orangered;
    
    --main-color                : rgb(207, 77, 17);
    --darker-color              : #246;
    --lighter-color             : #080a0a;
    --extra-back-color          : rgb(175, 172, 173);
}

/* -------------------- TRANSITION ---------------------------------*/
section.transition {
    --transitionpage-color  : rgb(21, 113, 189);
}

/* -------------------- BIBLIO -------------------------------*/
section.biblio {
    --text-color            : rgb(255, 255, 255);
    --background-color      : rgb(75, 73, 70);
    --border-color          : darkorange;
    --bold-color            : orange;

}

/* ------------------- TITLEPAGE -----------------------------*/
section.titlepage {
    
    /* fonts sizes */
    --title-size            : 150%;
    --subtitle-size         : 110%;
    --author-size           : 100%;
    --date-size             : 100%;
    --institute-size        : 85%;

    /* font weights */
    --title-font-weight     : 600;
    --subtitle-font-weight  : 600;

    /* colors in style */
    --title-color           : blue;
    --subtitle-color        : rgb(146, 15, 70);

    --titlepage-color       : #242d31;
    --background-color      : #faf7f7;
    --border-color          : #6c71c4;

}

/* ------------------- CITE -----------------------------*/
section.cite {
    --background-color    : #fdf6e3;;
    --strong-color        : rgb(182, 112, 27);
}
