/* @theme copernicus */

/*
  ============================================
    Created by Paulo Cunha
    version: 1.0
    last update: 30.ago.2024
    Name change
  ============================================       
*/

/* Importing COLOR SCHEMA */

@import "default";
@import "schema";
@import "structure";

/* 
--------------------------------------------------------------
    Font Importing (download)
    Font Credit: htts://https://www.cdnfonts.com/
-------------------------------------------------------------- 
*/

@import url('https://fonts.cdnfonts.com/css/fira-sans?styles=20123,20126,20116,20119,20121,20124,20112,20114,20110');
@import url('https://fonts.cdnfonts.com/css/fira-sans-condensed?styles=19730,19733,19723,19726,19728,19731,19719,19721,19717');

/***************** COMMON STRUCTURE **********************/

:root {

    font-family: 'Fira Sans Light';
    font-weight: initial;
    font-kerning: auto !important;

    /* 
    background-color: rgb(243, 241, 236);
    background-color: rgb(204, 207, 208); 
    background-color: rgb(212, 212, 212); 
    background-color: rgb(184, 184, 184);
    background-color: rgb(110, 108, 108);
    background-color: rgb(194, 204, 224); 
    background-color: rgb(175, 191, 223); 
    background-color: rgb(154, 187, 237);
    background-color: rgb(119, 144, 199);
    background-color: rgb(220, 220, 220);
    background-color: rgb(173, 197, 228);
    background-color: rgb(175, 191, 223); 
    */
    background-color: rgb(191, 201, 223); 
    

    --cool-list-color: rgb(119, 144, 199)
}


section h1 {

    font-family: 'Fira Sans';
    font-weight: 500;
    color: rgb(8, 25, 76);
    letter-spacing: -1.25px;
    border-bottom: 1px solid rgb(87, 117, 145) !important;


}

section h2 {

    font-family: 'Fira Sans';
    font-weight: 500;
    color: rgb(87, 115, 152);

}

section h3 {

    font-family: 'Fira Sans';
    font-weight: 400;
    font-size: 130%;
    /* color: rgb(87, 115, 152); */
    letter-spacing: -1.25px;


}

section p {

    font-family: 'Fira Sans Condensed';
    font-weight: 400 !important;
    color: rgb(46, 54, 76);
    /* letter-spacing: 0.01pt; */

}

section em {
    font-family: 'Fira Sans';
    font-weight:500;
    font-style: normal;
    font-size: 105%;
    letter-spacing: -0.8pt;

    background-color: rgb(213, 224, 233);
    background-color: rgba(7, 216, 253, 0.671);
    background-color: rgba(238, 255, 0, 0.671);
    background-color: rgba(148, 181, 252, 0.76);
    background-color: rgba(119, 144, 199, 0.349);
    color:rgb(168, 70, 73);
    color: rgb(241, 241, 245);
    color: rgb(26, 57, 82);
}

section strong {
    color:rgb(219, 92, 96) !important;
    font-weight: 500 !important;
}

section figcaption{
  color:black;
}

section.titlepage {
/* 
    background-color: rgb(211, 209, 209);
    background-color: rgb(184, 184, 184); 
    background-color: rgb(132, 151, 176);
*/
    background-color: rgb(119, 144, 199);
    color: rgb(196, 218, 252) !important;

}

section li{
    font-size: 25pt;
    color: rgb(53, 59, 70);
    
}

section.titlepage h1,
.title {

    font-family: 'Fira Sans';
    font-weight: 600;
    color: rgb(1, 1, 1);
    border-bottom: 1px solid rgb(243, 243, 223) !important;
}

section.titlepage h2,
.subtitle {

    color: rgb(220, 222, 224) !important;
}


section.titlepage .author,
.date,
.organization {
    text-align: left !important;
    font-weight: 500 !important;
}

section.titlepage h3,
h4,
h5,
.author,
.date,
.organization {
    font-family: 'Fira Sans Condensed' ;
    font-weight: 400 !important;
}


section strong {
    color: rgb(255, 208, 0);
    color: rgb(74, 5, 250);
    font-weight: 500;
}

section.transition {
    font-size: 22pt;

}

section.transition em {

    /* text-shadow: 6px 6px 0 rgb(207, 143, 4);*/

}

section.transition strong {

    /* text-shadow: 6px 6px 0 rgb(207, 143, 4);*/
    color: rgb(255, 166, 1);
    font-size: 90% !important;
    font-style: italic;

}