/* @theme freud */

/*
  ============================================
    Created by Paulo Cunha
    version: 1.0
    last update: 02.jan.2022
  ============================================       
*/

/* Importing COLOR SCHEMA */

@import "default";
@import "schema";
@import "structure";

/* Importing Font */
/* Font Credit: htts://https://www.cdnfonts.com/ */
@import url('https://fonts.cdnfonts.com/css/fira-sans?styles=20119');

/***************** COMMON STRUCTURE **********************/

:root {
  font-family: 'Fira Sans', sans-serif;
  font-weight: initial;
  
  color: #6c6c6c; 
  color: #2b3446;
  
  background-color: #727d8b;
  background-color: #f8b13d;
  background-color: #435160; 
  background-color: #f5eee6;
  background-color: #d9dee6;
  background-color: #f4f4ed;

  --h1-color                  : #3d09ae;
  --h1-color                  : #06858e;
  
  --border-color              : #a0660387;

  --bold-color                : rgb(21, 105, 201);
  --bold-color                : #0d2d58;

  --italic-color              : rgb(38, 48, 71);
  --italic-background-color   : rgba(172, 215, 255, 0.713);

  /* --background-color          : #fdf6e3; */
  --list-item-color           : rgb(255, 212, 95);
  --after-color               : rgb(51, 48, 48);

  --table-font-color          : black;
  --table-header-color        : rgb(0, 132, 255);
  
  --main-color                : rgb(207, 77, 17);
  --darker-color              : #246;
  --lighter-color             : #080a0a;
  --extra-back-color          : rgb(42, 45, 53);

  --letter-spacing            : 0.125px;

  --cool-list-color           : rgb(255, 68, 0);

  --author-align              : right;

}


/* ------------------- TITLEPAGE -----------------------------*/

section.titlepage .title {
  border-bottom: 1px solid orangered;
}

section.titlepage .subtitle {
  font-weight: 300;
}


section.titlepage .author,
section.titlepage .date,
section.titlepage .organization {
  text-align: left;
}
section.titlepage h1 {
  border-bottom: 1px solid orangered;
}

section.titlepage h2 {
  font-weight: 300;
}

section.titlepage h3,
section.titlepage h4,
section.titlepage h5 {
  text-align: right;
}

/* -------------------- TRANSITION ---------------------------------*/
section.transition {
  
  --transitionpage-color: #247397;

}
/* -------------------- TRANSITION ---------------------------------*/
section.transition2 {
  
  background-color: #c53732;

}

/* ------------------- CITE -----------------------------*/
section.cite {
  --background-color: #49454f;
  --strong-color: rgb(182, 112, 27);
}

section.cite p {
  color: #fffbfe;
}

section.cite strong {
  color: #f87ca1;
}
