/* @theme hegel */

/*
  ============================================
    Created by Paulo Cunha
    version: 1.0
    last update: 09.dez.2021
  ============================================       
*/

/* Importing COLOR SCHEMA */

@import "default";
@import "schema1";
@import "structure1";

/***************** COMMON STRUCTURE **********************/

:root {
  font-family: ;
  font-weight: initial;
}
