/* @theme kant */

/*
  ============================================
    Created by Paulo Cunha
    version: 1.0
    last update: 30.dez.2021
  ============================================       
*/

/* Importing COLOR SCHEMA */

@import "default";
@import "schema";
@import "structure";

/* Importing Font */
/* Font Credit: htts://https://www.cdnfonts.com/ */
/* @import url('https://fonts.cdnfonts.com/css/fira-sans-condensed?styles=19730'); */

/* @import url('https://fonts.cdnfonts.com/css/fira-sans-condensed');*/
@import url('https://fonts.cdnfonts.com/css/fira-sans-book'); 


/***************** COMMON STRUCTURE **********************/

:root {
  /* font-family: 'Fira Sans Book'; */
  font-family: 'Fira Sans Light';
  font-weight: initial;
}

section.titlepage .author,
section.titlepage .date,
section.titlepage .organization {
  text-align: left;
}