/* @theme pascal */

/*
  ============================================
    Created by Paulo Cunha
    version: 1.0
    last update: 04.dez.2022
  ============================================       
*/

/* Importing COLOR SCHEMA */

@import "default";
@import "schema";
@import "structure";

/***************** COMMON STRUCTURE **********************/

:root {
  /* font-family: 'Fira Sans'; */
  font-family: "Bookerly", serif;

  font-weight: 400;
  letter-spacing: -1.0px;
  font-size: 22pt;
  color: white;
  color:rgba(26, 43, 75, 0.814);
  color: black;

  
  --italic-background-color   : rgba(206, 252, 0, 0);    
  background-color: #b7c2da; 
}

h1 {
  
  /* font-family: 'Fira Sans'; */
  font-weight: 600;
  font-size: 30pt;
  color: rgb(52, 86, 119);
  color:rgba(26, 43, 75, 0.814);

  
  padding-bottom: 2mm;
  margin-bottom: 12mm;
}

p {
  font-size: 120%;
  font-weight: 500;
  color:rgba(26, 43, 75, 0.814)  
}

section.titlepage .title, h1 {
  border-bottom: 1px solid orangered;
}


section.cite {
  --strong-color        : rgba(255, 218, 5, 0.795);
}

section.titlepage .author,
section.titlepage .date,
section.titlepage .organization {
  text-align: left;
}

section strong {
  color:rgb(1, 116, 247) ;
  color:rgb(247, 71, 1) ;
  padding-left: 1px;
  padding-right: 1px;
  font-weight: 400;
}

section code {
  font-family: inherit;
  font-size: inherit;
  font-weight: 500 !important;
  background-color: rgba(206, 252, 0, 0.877); 
  
  color:rgb(10, 10, 10) !important;
}

section.transition em{
  background-color: rgb(251, 255, 0) !important;
}


section.transition strong {
  color: rgba(207, 235, 121, 0.964);
  color: rgba(230, 250, 6, 0.905);
  color: rgba(194, 228, 5, 0.904);
  font-weight: 1000;
  text-shadow: 2px 2px 10px rgb(101, 45, 3);
}


section.transition2 strong {

  color: rgb(10, 100, 235);
  color: rgb(161, 240, 3);

}