/* @theme pascal */

/*
  ============================================
    Created by Paulo Cunha
    version: 1.0
    last update: 04.dez.2022
  ============================================       
*/

/* Importing COLOR SCHEMA */

@import "default";
@import "schema";
@import "structure";

/* Importing Font */
/* Font Credit: htts://https://www.cdnfonts.com/ */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/***************** COMMON STRUCTURE **********************/

:root {

  font-family: "Fira Sans Condensed", serif;
  font-family: "PT Serif", serif;
  font-family: Cambria, serif;
  font-family: "Bookerly", serif;

  font-weight: initial;
  --italic-background-color   : rgba(8, 140, 255, 0.236);    
  
  background-color: rgb(235, 235, 235);
  background-color: rgb(216, 222, 233);
}

h1 {
  color:rgb(11, 37, 69); 
  font-size: 30pt;
  padding-bottom: 2mm;
  letter-spacing: 0.01em;
  margin-bottom: 12mm;
}

p {
  
  font-size: 26pt;
  font-weight: 400;
  letter-spacing: 0.125px;
  color:rgb(60, 60, 76);  
}

section.titlepage .title {
  border-bottom: 1px solid orangered;
}


section.cite {
  --strong-color        : rgba(255, 5, 5, 0.795);
}

section.titlepage .author,
section.titlepage .date,
section.titlepage .organization {
  text-align: left;
}

section strong {
  color:rgb(141, 169, 196) ;
  color:rgb(181, 101, 118) ;
  color:rgb(229, 107, 111) ;
  color:rgba(23, 86, 118) ;
  color:rgb(0, 53, 199) ;
  color:rgb(186, 50, 79) ;
  color:rgb(179, 31, 63) ;
  padding-left: 1px;
  padding-right: 1px;
  font-weight: 600;
}

section.transition em{
  background-color: rgb(255, 166, 0) !important;
}


section.transition strong {
  color: rgba(230, 250, 6, 0.905);
  font-weight: 1000;
  text-shadow: 2px 2px 10px rgb(101, 45, 3);
}


section.transition2 strong {

  color: rgb(10, 100, 235);
  color: rgb(161, 240, 3);

}