/* @theme schema2 */

/* Last update: 17.dez.2021 */

/* -------------------- ROOT ----------------------------------*/
:root {

    --primary-color         : #1d395a;
    --onprimary-color       : #c9aaaa;
    
    --secondary-color       : #7e7572;
    --onsecondary-color     : #ccc2dc;

    --tertiary-color        : #485057;
    --ontertiary-color      : #efb8c8;

    --background-color      : #e6e1e5;
    --onbackground-color    : #1c1b1f;

    --surface-color         : #fffbfe;
    --onsurface-color       : #49454f;
    
    --surface-variant       : #313033;
    --onsurface-variant     : #ffffff;

    --error-color           : #4f378b;
    --error-container-color : #dc362e;

    --tertiary-container    : #633b48;
    --ontertiary-container  : #f87ca1;

    --transition-color      : #6750a4;   
    --cool-list-color       : rgb(168, 12, 85);

    --letter-spacing        : 0.125px;

}

/* -------------------- BIBLIO -------------------------------*/
section.biblio {
    --primary-color         : #e6e1e5;
    --secondary-color       : rgb(59, 55, 55);
    --tertiary-color        : rgb(243, 166, 0);
    --quaternary-color      : #065cce;
}

/* ------------------- TITLEPAGE -----------------------------*/
section.titlepage {
    
    /* fonts sizes */
    --title-size            : 150%;
    --subtitle-size         : 110%;
    --author-size           : 110%;
    --date-size             : 110%;
    --institute-size        : 90%;

    --letter-spacing        : 0.125px;

    /* font weights */
    --title-font-weight     : 600;
    --subtitle-font-weight  : 300;

    --titlepage-color   : #242d31;
    --background-color  : #faf7f7;

}
