/* @theme schema3 */

/* Last update: 15.dez.2021 */

/* -------------------- ROOT ----------------------------------*/
:root {
    
    --bold-color                : rgb(20, 73, 116);
    --border-color              : #1167e9;
    --h1-color                  : black;

    --italic-color              : rgb(3, 3, 3);
    --italic-background-color   : rgba(130, 255, 4, 0.705);
    --background-color          : #fdf6e3;
    --list-item-color           : rgb(50, 56, 56);
    --after-color               : rgb(255, 39, 1);
    
    --table-header-color        : rgb(48, 47, 47);
    
    --main-color                : rgb(207, 77, 17);
    --darker-color              : #246;
    --lighter-color             : #080a0a;
    --extra-back-color          : rgb(175, 172, 173);

    --letter-spacing            : 0.125px;

    --cool-list-color           : rgb(76, 10, 121);

}

/* -------------------- TRANSITION ---------------------------------*/
section.transition {
    --transitionpage-color  : rgb(91, 93, 95);
}

/* -------------------- BIBLIO -------------------------------*/
section.biblio {
    --text-color            : white;
    --background-color      : rgba(43, 39, 39, 0.849);
    --border-color          : darkorange;
    --bold-color            : orange;

}

/* ------------------- TITLEPAGE -----------------------------*/
section.titlepage {
    
    /* fonts sizes */
    --title-size            : 150%;
    --subtitle-size         : 110%;
    --author-size           : 110%;
    --date-size             : 110%;
    --institute-size        : 90%;

    --letter-spacing        : 0.125px;

    /* font weights */
    --title-font-weight     : 600;
    --subtitle-font-weight  : 600;

    /* colors in style */
    --title-color       : #ee0d0d;
    --title-color       : #4d7baf;
    --title-color       : #0a67f1;
    --title-color       : #002b36;
    
    --subtitle-color    : #586e75;
    --subtitle-color    : #93a1a1;

    --titlepage-color   : #242d31;
    --background-color  : #faf7f7;

    --border-color      : #f0cf9e; 
    --border-color      : #b5c9ee;
    --border-color      : #8aa6da;
    --border-color      : #6c71c4;
    --border-color      : #e99211;

}

/* ------------------- CITE -----------------------------*/
section.cite  {
    --background-color    : rgb(255,204,0);
    --strong-color        : rgb(255, 2, 2);
}
