/* @theme hegel */

/*
  ============================================
    Created by Paulo Cunha
    version: 1.0
    last update: 30.dez.2021
  ============================================       
*/

/* Importing COLOR SCHEMA */

@import "default";
@import "schema";
@import "structure";

/***************** COMMON STRUCTURE **********************/

:root {
  font-family: ;
  font-weight: initial;
}

section.titlepage .author,
section.titlepage .date,
section.titlepage .organization {
  text-align: left;
}